# Virtual Environment
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# macOS
.DS_Store

# Environment
.env

# Testing
.pytest_cache/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/
logs/
__pycache__/
*.pyc
.DS_Store